{% extends "auth/base.html" %}

{% block body %}
<div class="container">
  <header class="jumbotron subhead" id="overview">
    <h1>Protected site</h1>
    <p class="lead">Access to this site is restricted. Please sign in
      with your email:</p>
    <p>
      <a href="#" id="browserid" title="Sign-in with BrowserID">
        <img src="/auth/assets/img/sign_in_green.png" alt="Sign in">
      </a>
    </p>
  </header>
</div>
{% endblock %}

{% block scripts %}
<script src="/auth/assets/js/jquery.js"></script>
<script src="https://browserid.org/include.js" type="text/javascript"></script>
<script src="/auth/login.js"></script>
{% endblock %}
