{% extends "auth/base.html" %}

{% block body %}
<div class="container">
  <header class="jumbotron subhead" id="overview">
    <h1>Nothing accessible :(</h1>

    <p class="lead">No resources on this site are shared with you. Ask
   the site owner to grant you access, or try a different email: </p>
    <p>
      <a href="#" id="browserid" title="Sign-in with BrowserID">
        <img src="/auth/assets/img/sign_in_green.png" alt="Sign in">
      </a>
    </p>
  </header>
</div>
{% endblock %}

{% block scripts %}
<script src="https://browserid.org/include.js" type="text/javascript"></script>
<script src="/auth/login.js"></script>
{% endblock %}
