body {
 /* to make the container go all the way to the bottom of the topbar */
 padding-top: 60px;
 /*  The pattern is downloaded from www.subtlepatterns.com
     If you need more, that's where to get'em.*/
 background: url(/auth/assets/img/random_grey_variations.png);
}

.icon-light,
.menu-item {
  background-image: url("/auth/assets/img/glyphicons-halflings-light.png");
}

.menu-item {
  float: right;
  /* Without this some items are not clickable in IE 8: */
  position: relative;
}

.menu-item:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.path {
  /* Show all white spaces in paths */
  white-space: pre-wrap;
}

.spaced-left {
  margin-left: 10px;
}

.spaced-top {
  margin-top: 15px;
}

.spaced-right {
  margin-right: 20px;
}

.accessible {
  background-color: #dff0d8 !important;
}

.not-accessible {
  background-color: #f2dede !important;
}

.in-dialog {
  width: 50px;
}

.in-dialog .controls {
  margin-left: 60px;
}

.in-dialog .control-label {
  width: 50px;
}

.in-dialog .form-actions {
  padding-left: 60px;
}

.input-wide {
  width: 450px;
}

.navbar-inverse .brand {
  color: #ffffff;
}

li,
.nav-tabs > li > a {
  line-height: 18px;
  font-size: 13px;
}

.content {
  background: #ffffff;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;

  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-bottom-right: 50px;
  border-bottom-right-radius: 50px;
}

.logo {
  float: left;
  margin-right: 5px;
  margin-left: -30px;
}

.help {
  float: right;
}

/* Enable for debugging
div, span, p{
    border: 1px solid red;
} */
