body {
 /* to make the container go all the way to the bottom of the topbar */
 padding-top: 60px;
}

.light {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.menu-item {
  float: right;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.menu-item:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.path {
  /* Show all white spaces in paths */
  white-space: pre-wrap;
}

.spaced-left {
  margin-left: 10px;
}

.spaced-top {
  margin-top: 15px;
}

.spaced-right {
  margin-right: 20px;
}

.accessible {
  background-color: #dff0d8 !important;
}

.not-accessible {
  background-color: #f2dede !important;
}

.in-dialog {
  width: 50px;
}

.in-dialog .controls {
  margin-left: 60px;
}

.in-dialog .control-label {
  width: 50px;
}

.in-dialog .form-actions {
  padding-left: 60px;
}

.input-wide {
  width: 450px;
}

.navbar-inverse .brand {
  color: #ffffff;
}

li,
.nav-tabs > li > a {
  line-height: 18px;
  font-size: 13px;
}

.logo {
  float: left;
  margin-right: 5px;
}