body {
 /* to make the container go all the way to the bottom of the topbar */
 padding-top: 60px;
}

.light {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.menu-item {
  float: right;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.menu-item:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.path {
  /* Show all white spaces in paths */
  white-space: pre-wrap;
}

.spaced-left {
  margin-left: 10px;
}

.spaced-top {
  margin-top: 15px;
}

.spaced-right {
  margin-right: 20px;
}

.accessible {
  background-color: #dfffdf !important;
}

.not-accessible {
  background-color: #ffdfdf !important;
}

.in-dialog {
  width: 50px !important;
}

.in-dialog .controls {
  margin-left: 60px !important;
}

.in-dialog .control-label {
  width: 50px !important;
}

.in-dialog .controls {
  margin-left: 60px !important;
}

.in-dialog .form-actions {
  padding-left: 60px !important;
}

.input-wide {
  width: 450px !important;
}
