{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>wwwhisper: Web Access Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "auth/assets/css/bootstrap.min.css" %}"
          rel="stylesheet" type="text/css">
  </head>

  <body>
   <div class="container">
     <div class="hide" id="login-required">
       <h1>Protected site</h1>
       <p class="lead">Access to this site is restricted. Please sign in
         with your email:</p>
     </div>

     <div class="hide" id="nothing-shared">
       <h1>Nothing accessible</h1>

       <p class="lead">No resources on this site are shared with you. Ask
         the site owner to grant you access, or try a different email:
       </p>
     </div>
     <noscript>
         <div id="error-box">
           <div class="alert alert-error">
             <div class="alert-message">
               To sign in JavaScript needs to be enabled. See
               <a href="http://activatejavascript.org/en/instructions">
                 the instructions </a> to enable JavaScript in your browser.
             </div>
           </div>  <!-- /.alert -->
         </div>  <!-- /.error-box -->
     </noscript>

     <a class="hide" href="#" id="login" title="Sign in with BrowserID">
       <img src="{% static "auth/assets/img/sign_in_green.png" %}"
            alt="Sign in">
     </a>
   </div>

   <script src="{% static "auth/assets/js/jquery-min.js" %}"
           type="text/javascript"> </script>
   <script src="https://login.persona.org/include.js"
           type="text/javascript"> </script>
   <script src="{% static "auth/assets/js/stub.js" %}"
           type="text/javascript"> </script>
   <script src="{% static "auth/login.js" %}"
           type="text/javascript"> </script>

  </body>
</html>
